<div class="row">
    <div class="span6">
        <div class="well">
                            <p>
                <b>Question:</b> {{question.doubt}}
                </p>
                <br />
                            <p>
                <b>Answer:</b> {{question.answer}}
                </p>
                <br />
            
            <a class="btn" href="#/rides">Back</a>
            <a class="btn btn-info" href="#{{ride.links.location.url}}/edit">Edit</a>
        </div>
    </div>
</div>

