<div class="row">
    <div class="span6">
        <div class="well">
            <form class="form-horizontal" id="questionForm">
                <fieldset>
                    <legend>question</legend>

                                            <div class="control-group">
                            <label class="control-label" 
                                for="question.ask"> Ask </label>
                            <div class="controls">
                                <input type="text" name="question.doubt" 
                                id="question.doubt" 
                                ng-model="question.doubt" />
                            </div>
                        </div>
                                            <div class="control-group">
                            <label class="control-label" 
                                for="question.answ1"> Answ1 </label>
                            <div class="controls">
                                <input type="text" name="question.answer" 
                                id="question.answer" 
                                ng-model="question.answer" />
                            </div>
                        </div>
                    
                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-primary"
                                ng-click="create(question)"
                                ng-hide="question.id">Create</button>
                            <button class="btn btn-primary" 
                                ng-click="update(question)" 
                                ng-show="question.id">Update</button>
                            <a href="#/questions" class="btn">Cancel</a>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
    <div class="span6"></div>
</div>


