<div>

    <div class="row">
        <div class="span12">
            <div class="well">
                <div class="row-fluid">
                    <div class="span8">
                        <h1>questions</h1>
                    </div>
                    <div class="span4">
                        <a href="#/questions/new" class="btn btn-primary">New Question</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-repeat="question in questions">
        <div class="span12">
            <div class="well">
                <div class="row-fluid">
                    <div class="span8">
                                                    Ask: {{question.doubt}}
                            <br />
                            
                                            <div class="control-group">
                            <label class="control-label" 
                                for="question.answ1"> Answ1 </label>
                            <div class="controls">
                                <input type="text" name="question.answer" 
                                id="question.answer" 
                                ng-model="question.answer" />
                                            </div>
                    <div class="span4 controls admin">
                        <a class="btn btn-info" href="#{{question.links.location.url}}">show</a>
                        <a class="btn btn-info" href="#{{question.links.location.url}}/edit">edit</a>
                        <a class="btn btn-inverse" ng-click="destroy(question)">destroy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


