<div class="row">
    <div class="span6">
        <div class="well">
                            <p>
                <b>Rota:</b> {{ride.route}}
                </p>
                <br />
                            <p>
                <b>Origem:</b> {{ride.street1}}
                </p>
                <br />
				<b>Destino:</b> {{ride.destiny}}
                </p>
                <br />
                            <p>
                <b>Dias que far‡ a rota:</b> {{ride.ridedays}}
                </p>            
            <a class="btn" href="#/rides">Back</a>
            <a class="btn btn-info" href="#{{ride.links.location.url}}/edit">Edit</a>
        </div>
    </div>
    <div class="span5">
    	<div class="well">
    	
    	<p>  <b>Teste:</b> </p>
    	</div>
    </div>
</div>

