<div class="row">
    <div class="span6">
        <div class="well">
                            <p>
                <b>Rota:</b> {{passengerride.route}}
                </p>
                <br />
                 
				<b>Destino:</b> {{passengerride.destiny}}
                </p>
                <br />
                            <p>
                <b>Passageiro:</b> {{passengerride.passenger}}
                </p>            
            <a class="btn" href="#/passengerrides">Back</a>
            <a class="btn btn-info" href="#{{passengerride.links.location.url}}/edit">Edit</a>
        </div>
    </div>
    <div class="span5">
    	<div class="well">
    	
    	<p>  <b>Teste:</b> </p>
    	</div>
    </div>
</div>

