<div class="row">
    <div class="span6">
        <div class="well">
                            <p>
                <b>Rota:</b> {{passengerride.route}}
                </p>
                <br />
                <b>Origem:</b> {{passengerride.origin}}
                </p>
                <br /> 
				<b>Destino:</b> {{passengerride.destiny}}
                </p>
                <br />
                            <p>
                <b>Passageiro:</b> {{passengerride.passenger}} 
                </p>            
            <a class="btn" href="#/passengerrides">Back</a>
            <a class="btn btn-info" href="#{{passengerride.links.location.url}}/edit">Edit</a>
        </div>
    </div>
    <div class="span5">
    	<div class="well"  ng-repeat="ride in passengerride.rides" >
    	
    	<div class="well">
                <div class="row-fluid">
                    <div class="span7">
                                                    Motorista: {{ride.driver}}
                            <br />
                            
                            <div class="control-group">
                            <label class="control-label" 
                                for="ride.driver"> Valor: {{ride.price | currency}}</label>
                            
                             </div>
                    <div class="span5 controls admin">
                    <a class="btn btn-info" href="#{{ride.links.location.url}}">Detalhes</a> <a class="btn btn-inverse" ng-click="createrequest(ride, passengerride.passenger)">Pedir Carona</a>
                    </div>
                </div>
            </div>
        </div>
    	</div>
    </div>
</div>

